.contenedor {
    display: flex;
    gap: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    justify-content: space-around;
}
.leftsection {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em;
    width: 30%;
}


.mainsection {
    display: flex;
    background-color: yellow;
    padding: 0.5em;
    margin: 0.5em;
    justify-content: center;
    width: 70%;
    align-items: center;
}

.mainsection .item {
    height: 80%;
}
.item {
    background-color: chocolate;
    padding: 0.5em;
    margin: 0.5em;
    width: 80%;
    text-align: center;
    font: 1em sans-serif;
    color: aliceblue;
    font-size: 1.5em;
    justify-content: center;
}

.mainsection .item {
    height: 10em;
}

@media (max-width: 640px){
    .contenedor {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
    }
    .mainsection {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .leftsection {
        width: 100%;
    }
    
}